<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <div>
        <span class="brand-logo">Movie App</span>
      </div>

      <div>
        <ul>
          <li><a [routerLink]="['']">Home</a></li>
          <li><a [routerLink]="['/movies']">See Movies</a></li>
          <li><a [routerLink]="['/movies/add']">Add Movie</a></li>
          <li><a [routerLink]="['/tvshows']">See TvShows</a></li>
          <li><a [routerLink]="['/tvshows/search']">Add TvShows</a></li>
        </ul>
      </div>

    </div>

  </nav>
</div>
